{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
</head>
<body>
    <tr>
        <td colspan=2>
        <Component
          v-if="props.data?.type == 'name'"
          :selected="props.data.tag || []"
          @variable="variableUpdate"
        ></Component>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="button-row">
            <Button
              :loading="props.isSaving"
              @click="() => emit('save', {
                ...props.projectData,
                imgSrc: imgSrcInput,
                title: titleInput
              })"
            >
              {{ props.l10n('save') }}
            </Button>
            <Button
              theme="text-destructive"
              @click="emit('cancel')"
            >
              {{ props.l10n('cancel') }}
            </Button>
          </div>
        </td>
      </tr>

</body>
</html>